/**
 * Typography
 */
 .h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.01562em;
}

.h2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.00833em;
}

.h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.04;
  letter-spacing: 0em;
}

.h4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.00735em;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
}

.h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

.button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.overline {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}

.subtitle3 {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}